* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 main {
     margin: 0 auto;
     width: 90vw;
 }

 .links {
     text-decoration: none;
     color: #2f2f2f;

 }

.gallery {
    display: grid;
    gap: 2rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.pokemon {
    display: flex;
    border: solid 1px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &--bold {
        font-weight: bold;
    }
}

.pokemon:hover {
    background-color: #E6E6E6;
}
.pokemon-poster {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.filter-text {
    width: 300px;
    padding: 1rem 1rem;
    margin-bottom: 5rem;
    border: none;
    border-radius: 1rem;
    background-color: #eeeeee;
    color: #2f2f2f;
    margin-right: 1rem;
}